body {

    color: #85b2cc;
}
.jumbotron {
    background-image: url("https://news.yale.edu/sites/default/files/styles/horizontal_image/public/d6_files/iStock_000012147606Small.jpg?itok=NGDVTkFv");
    background-size: 100% 100%;
    text-align: center;
    color: #050505;
   background-color: rgba(17, 17, 238, 0.151);
};