body {

    background-color: #7b88d677;
}
.jumbotron {
    background-image: url("https://news.yale.edu/sites/default/files/styles/horizontal_image/public/d6_files/iStock_000012147606Small.jpg?itok=NGDVTkFv");
    background-size: 100% 100%;
    text-align: center;
    color: #ffffff;
   background-color: rgb(0, 0, 0);
};